/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html,
body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Nunito, 'Times New Roman'
}

.container{
    height: 80vh;
    width: 110vh;
    border-radius: 9px;
    display: flex;
    justify-content: space-between;
}



.left-side{
    height: 100%;
    width: 38%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.right-side{
    height: 80%;
    width: 50%;
    border-radius: 8px;
    border: 2px solid black;
}

.selling-point{
    width: 85%;
    border: 2px solid darkblue;
    border-radius: 9px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: 1em;
}
.right-side{
    display: flex;
}
.logo{
    padding-bottom: 50px;
}
form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.terms{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.terms1{
    font-size: .6em;
    color:black;
    font-weight: 800;
}

.username,
.email,
.password,
.verify-pass,
.phone-number{
    padding: 12px;
}

.username-input,
.email-input,
.password-input,
.confirm-pass-input,
.phone-number-input{
    padding: 6px;
    height: 5vh;
    width: 40vh;
    border: 2px solid darkblue;
    border-radius: 8px;
}

.sign-up{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: blue;
    border-color: blue;
    border-radius: 10px;
    margin: 10px;
    color:white;
}

.sign-up:hover{
    transform: scale(1.05);
    transition: .6s;
    cursor: pointer;
}

.username-input:hover,
.email-input:hover,
.password-input:hover,
.confirm-pass-input:hover,
.phone-number-input:hover{
    transform: scale(1.02);
    transition: .6s;
}
.selling-point:hover{
    transform: scale(1.02);
    transition: .6s;
}


